<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
  "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<!-- What Shani Cassini runs through pkexec. pkexec picks the action whose
     exec.path matches the program, so the prompt says what is happening;
     auth_admin_keep: one password covers a few minutes of work. -->
<policyconfig>
  <vendor>Shanios</vendor>
  <vendor_url>https://shani.dev</vendor_url>
  <icon_name>dev.shani.cassini</icon_name>

  <action id="org.shani.cassini.deploy">
    <description>Update, roll back or change the update channel of Shanios</description>
    <message>Authentication is required to change the installed Shanios system</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/local/bin/shani-deploy</annotate>
  </action>

  <action id="org.shani.cassini.health">
    <description>Run the Shanios health checks</description>
    <message>Authentication is required to check the health of this system</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/local/bin/shani-health</annotate>
  </action>

  <action id="org.shani.cassini.boot-security">
    <description>Manage Secure Boot keys and TPM disk unlock</description>
    <message>Authentication is required to change how this computer boots and unlocks its disk</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/local/bin/gen-efi</annotate>
  </action>
</policyconfig>
